* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

img {
  max-width: 80px;
  height: 80px;
}


/* navBar CSS */

.navBar {
  display: flex;
  flex-direction: row;
  margin: 0px;
  background-color: lightslategray;
  padding: 10px 20px;

}

h1 {
  width: 20%;
  font-size: 60px;
  padding-top: 20px;
  text-align: right;
  padding-right: 40px;
  min-width: 20%;
  max-width: 20%;
  justify-content: space-between;
  align-items: center;
}

#navigation {
  display: flex;
  width: 80%;
  align-items: center;
  justify-content: flex-end;
}

#navigation a {
  cursor: pointer;
  text-decoration: none;
  padding: 10px;
  color: black;
  font-weight: bold;
}

#navigation a:hover {
  text-decoration: underline;
}

/* banner CSS*/

.hero-banner {
  display: flex;
  height: 230px;
  background-image: url(../images/02-hero-bg.jpg);
  background-repeat: no-repeat;
  background-position: 75% 25%;
  background-size: cover;
  padding: 20px;
  justify-content: flex-end;
  align-items: end;
}

#herobanner h2 {
  width: 100%;
  color: black;
  background-color: lightslategray;
}

/* Title CSS */

.title {
  border-right: 5px solid darkblue;
  padding-top: 20px;
  text-align: right;
  padding-right: 40px;
  min-width: 20%;
  max-width: 20%;
  justify-content: space-between;
  align-items: center;
}

.title h2 {
  font-size: 40px;
}

/* about me CSS */

#about {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  padding-top: 30px;
}

#about p {
  font-size: 18px;
  padding: 0 30px;
  line-height: 1.6;
  width: 90%;
}


/* Portfolio Container CSS */

#work {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  padding-top: 30px;
}

.categoryGrid {
  width: 80%;
  display: grid;
  min-height: 500px;
  padding: 0 30px;
  justify-content: center;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "research research"
    "teamwork analysis";
}


#research {
  grid-area: research;
  background-image: url("../images/research.jpg");

}

#teamwork {
  grid-area: teamwork;
  background-image: url("../images/teamwork.jpg");
}

#analysis {
  grid-area: analysis;
  background-image: url("../images/analysis.jpg");
}

.categoryGridArea {
  display: grid;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 5px;
  cursor: pointer;
  align-content: end;
  opacity: 0.7;
}

.categoryGridArea:hover {
  opacity: 1.0;
}


.heading {
  background-color: lightslategray;
  color: black;
  padding: 10px;
}

.heading a {
  cursor: pointer;
  text-decoration: none;
  padding: 10px;
  color: black;
  font-weight: bold;
}

/* Contact me CSS */

#contact {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  padding-top: 30px;
  flex-wrap: wrap;
  margin-bottom: 30px
}

.email {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}


.email a {
  cursor: pointer;
  text-decoration: none;
  padding: 10px;
  color: black;
  font-weight: bold;
  font-size: 38px;
}

.email a:hover {
  text-decoration: underline;
}

@media only screen and (min-width: 1000px) {
  #navigation {
    margin-left: auto;
  }
}

@media only screen and (max-width: 768px) {
  #headline {
    position: static;
    margin: 20px;
  }

  .categoryGrid {
    width: 100%;
    grid-template-rows: 300px 300px 300px;
    grid-template-columns: 80vw;
    grid-template-areas:
      "research"
      "teamwork"
      "analysis";
  }
}