body {
  font-family: 'Poppins', sans-serif;
}

/* Grid CSS */

.heroGridArea {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  align-items: center;
  display: flex;
  position: relative;
}

/* Category Grid CSS */

.subHeading {
  text-align: center;
  border-bottom: 2px solid black;
  width: 300px;
  margin: 50px auto;
}

#work {
  margin: 0px 5%;
  display: grid;
  min-height: 500px;
  height: 70vh;
  grid-template-rows: 50% 50%;
  grid-template-columns: 50% 50%;
  grid-template-areas:
  "research research"
  "teamwork analysis";
}

#research {
  grid-area: research;
  background-image: url("../images/research.jpg");

}
#teamwork {
  grid-area: teamwork;
  background-image: url("../images/teamwork.jpg");
}

#analysis {
  grid-area: analysis;
  background-image: url("../images/analysis.jpg");
}


.categoryGridArea {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 5px;
  cursor: pointer;
  display: grid;
  align-content: end;
}

.heading {
  background-color: rgba(0,0,0,0.7);
  padding: 15px;
  height: 25px;
  color: white;
  font-size: 18px;
  border-bottom: 5px solid lightgreen;
}


/* Navigation CSS */
/* CHECK OUT THIS CODE BELOW IF YOU WANT TO GET A REFRESHER ON FLEX */

#navBar {
  display: flex;
  flex-direction: row;
  margin: 0px 5%;
}

#navBar h1 {
  width: 50%;
  font-weight: 1000;
}
#navigation {
  display: flex;
  width: 50%;
  align-items: center;
  justify-content: space-evenly;
}

#navigation a {
  cursor: pointer;
  text-decoration: none;
}

#email {
  display: flex;
  width: 50%;
  align-items: center;
  justify-content: space-evenly;
}

#email a{
  cursor: pointer;
  text-decoration: none;
}

/* Typography CSS */

h2 {
  font-size: 30px;
  margin: 0px 0px;
  color: lightgreen;
}

h3 {
  font-size: 32px;
  font-weight: 300;
  margin: 0px 0px;
}

h4 {
  color: white;
  font-weight: 400;
  font-size: 22px;
}


#headline p {
  max-width: 350px;
  font-size: 16px;
  font-weight: 300;
  margin: 0px 0px;
  color: #636364;
}


@media only screen and (min-width: 1000px) {
  #navigation {
    margin-left: auto;
  }
}

@media only screen and (max-width: 600px) {
  #headline {
    position: static;
    margin: 20px;
  }
  #heroGrid {
    grid-template-areas:
    "featuredProduct featuredProduct"
    "secondaryProduct CTA";
  }
  #categoryGrid {
    grid-template-rows: 300px 300px 300px 300px 300px;
    grid-template-columns: 80vw;
    grid-template-areas:
      "bookcases"
      "bedroom"
      "patio"
      "couches"
      "desks"
    ;
  }
}